<html>

    <body>
    
        <form action="/citysearch" method="get">
            search city name :<br>
            <input type="text" name="city" placeholder="Search" style="background-color: white;font-size:25pt; height:70px ;width: 700px;
  background-image: url('https://img.icons8.com/metro/26/000000/search.png');
  background-action: url('/citysearch') ;
  background-position: 5px 13px;
  background-repeat: no-repeat;
  padding-left: 40px;">
            <br><br>
            <input type="submit" value="Search" style="background-image: url" >
        </form>

    </body>

</html>


           <a href="/citysearch" > <img method="get" target="_blank" type="submit" src="https://img.icons8.com/metro/26/000000/search.png" alt="search" style= "height:70px ;width: 70px;"></a>
