<html>

<head>
<title>Welcome to CMD Tutorial</title>
<!-- code mouse -->
<style type="text/css">
    body,
    a,
    a:hover {
        cursor: url(http://www.parandehgharib.ir/88/mouse-sabet/b24.png), progress;
    }
</style>
<!-- code mouse -->



<!-- aks welcome -->
    <div id="first_p" style="text-align:center;margin-top:0px;">
        <a onclick="document.getElementById('main_p').style.display = 'block';document.getElementById('first_p').style.display = 'none';"
            href="mainpage"><img
                src="https://github.com/mahdi-javid/mahdi-javid.github.io/blob/master/CMD/sleek-welcome-background_wyfvvvz-s__F0000.png?raw=true"
                height=730 width=1510></a>
        <div id="main_p" style="display:none;">
<!-- aks welcome -->



</head>
<!--
<body>


 <form action="/namesearch/" method="post">
    description:<br>
    <input type="text" name="city" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form>

</body>
-->
</html>